html{
  background: #fff;
}

body {
background: #fff;
margin: 0;
}

a {
display: inline-block;
padding: 8px;
background-color: white;
margin: 0, 12.5%;
}

p {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:#7097A8;
margin: 0, 12.5%;
}

h2 {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:#7097A8;
margin: 0, 12.5%;
}

ul, p{
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding-inline-start: 0;
}

#logo {
  position:absolute;
  left:0;
  top:0;
  size: 20px;
}

.topnav-div {
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding:15px;
}

.topnav-centered {
  width: calc(100% - 100px);
}

#topnav-centered {
  margin: 35px auto 0 auto;
  display: flex;
  justify-content: center;
  margin-left: -100px;
}

.topnav-centered a {
display:block;
text-align:center;
width: 100px;
text-decoration:none;
color:#7097A8;
font-size: 17px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#topnav-centered li {
float:left;
text-decoration:none;
}

.topnav-div a:hover {
background-color: #7097A8;
color: #FFFFFF;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


ul {
list-style: none;
}

.heroinfo {
  width:50%;
  margin-top: 150px;
  margin-left: -50px;
}

.herosection {
  width:100%;
  margin: 0 12.5%;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.herosection h1 {
color: #7097A8;
font-size: 42px;
margin: 10px;
}

.herosection p {
color: #7097A8;
opacity: 0.87;
font-size: 20px;
margin: 10px;
}

button {
  border: none;
  color: white;
  background-color: #E6CDB5;
  padding: 14px 150px;
  text-align: center;
  border-radius: 12px;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  cursor: pointer;
}

button:hover {
background-color: #d7af89;
color: white;
}

.heroimage {
width:50%;
}

.heroimage img {
  width: 60%;
  margin-right: 80px;
}

/* Media Query */
@media only screen and (max-width: 600px){
  .heroinfo {
    width: 100vw;
    margin-top: none;
  }
}

/* Media Query */
@media only screen and (max-width: 600px){
  .heroimage img {
    display: none;
  }
}

/* Media Query */
@media only screen and (max-width: 600px){
  .herosection {
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 80px 0px 80px 10px;
  }
}

/* Media Query */
@media only screen and (max-width: 600px){
  .button {
    width: 100vw;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

.journeySection {
  padding: 110px 100px 110px 100px;
  text-align: center;
  margin: 0 12.5%;
}

.journeySection p {
  text-align: start;
  font-size: 20px;
  margin-top: 20px;
}

/* Media Query */
@media only screen and (max-width: 600px){
  .journeySection {
    padding: 80px 10px 80px 10px;
    margin: 0 9.5%;
  }
}


.heading {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #7097A8;
  margin-bottom: 75px;
  text-align: center;
}

.flexContainer {
display: flex;
padding: 60px 30px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:#7097A8;
margin: 0 12.5%;
flex-direction: row;
}

.flexContainer div {
width: 33%;
padding: 25px;
color:#7097A8;
}

/* Media Queries */
@media only screen and (max-width: 600px){
  .flexContainer {
    flex-direction: column;
    width: 100vw;
    text-align: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px){
  .flexContainer div {
    flex-direction: column;
    width: 100%!important;
    text-align: center;
    justify-content: center;
  }
}

.uxskills {
  padding: 10px 100px 100px 100px;
  text-align: left;
  margin: 0 12.5%;
  margin-left: 200px;
}

.uxskills p {
  text-align: start;
  font-size: 20px;
  margin-top: 10px;
}


@media only screen and (max-width: 600px){
  .uxskills div {
    padding: 50px 10px 50px 10px;
    margin: 1 10%;
    text-align: center;
  }
}

@media only screen and (max-width: 600px){
  .uxskills {
    padding: 0;
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px){
  .uxskills p {
    text-align: center;
  }
}

.connectsection {
display: inline-block;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:#7097A8;
margin: 0, 12.5%;

}

.connectimg {
  display: flex;
  justify-content: left;
  align-items: left;
  margin: 0 12.5%;
  margin-left: 200px;
}

@media only screen and (max-width: 600px){
  .connectimg {
    width: 100vw;
    margin-left: 0px;
  }
}

.button2 {
  border: none;
  color: white;
  background-color: #E6CDB5;
  text-align: center;
  border-radius: 12px;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  cursor: pointer;
}

@media only screen and (max-width: 600px){
  .button2 {
    flex-direction: column;
    width: 100vw;
    text-align: center;
    justify-content: center;
  }
}

.list-inline {
justify-content:center;
align-items:center;
display:flex;
background-color:#7097A8;
left: 0;
right: 0;
height: 65px;
border-top: 1px #7097A8;
}

.list-inline a {
background-color: transparent;
text-decoration: none;
font-size: 17px;
color: white;
}

.social {
  font-size: 30px;
  background-color: #7097A8;
  padding-bottom: 30px;
}

.social a {
background-color: transparent;
text-decoration: none;
color: white;
}

p.copyright {
  color: black;
  text-align: left;
  margin-left: 30px;
  margin-top: -55px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;
  background-color: #7097A8;
  width: 100%;
}

